<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
<div class="container mt-5">
    <h2>Formulario de Cliente</h2>
    <form th:action="@{/guardar}" method="post" th:object="${clienteForm}">

        <div class="row">
            <div class="col-1 mb-3">
                <label for="id-codigo" class="form-label">Código</label>
                <input type="number" class="form-control" id="id-codigo" th:field="*{id}">
            </div>

            <!-- Marca -->
            <div class="col-4 mb-3">
                <label for="id-nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="id-nombre" th:field="*{nombre}">
            </div>

            <!-- Modelo -->
            <div class="col-4 mb-3">
                <label for="id-apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="id-apellido" th:field="*{apellido}">
            </div>

            <!-- Color -->
            <div class="col-2 mb-3">
                <label for="id-direccion" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="id-direccion" th:field="*{direccion}">
            </div>
        </div>
        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>